.footer_container{
    background-color: #2D3142;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer_container .logo{
    font-style: italic;
}

.footer .footer_container .icon{
    width: 30px;
    padding: 5px 5px;
}

.footer .footer_container .footer_social{
    padding-top: 10px;
    padding-bottom: 20px;
}