.home-body {
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    
}

.welcome-text {
    color: #67f2a1;
}

.slogan-text {
    color: #2d3142;
}

.home-body-element {
    
    margin-top: 2vh;
}

.btn-div {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.search-btn{
    background-color: #67f2a1;
    color: white ;
    border-radius: 2rem;
    border: none;
    height: 7vh;
    width: 50vh;
    opacity: 0.9;
    transition: all .2s ease-in-out;
    margin: 2vh;

}

.add-btn{
    
    color: #2d3142 ;
    border-radius: 2rem;
    border: none;
    height: 7vh;
    width: 50vh;
    opacity: 0.9;
    transition: all .2s ease-in-out;
    margin: 2vh;

}


.search-btn:hover { 
    transform: scale(1.1); 
    opacity: 1;
    
}
.add-btn:hover { 
    transform: scale(1.1); 
    opacity: 1;
    
}

.welcome-text:hover {
    opacity: 0.7;
    
}

.slogan-text:hover{
    opacity: 0.7;
}