.header{
    margin-top: 5%;
    color: #2d3142 ;
    text-align: center;
}
.message{
    background-color: #f5f5f5;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    border-radius: 1rem;
    border-style: solid;
    border-color: #2d3142;
    border-width: 1px;
    
   
}
.message-button{
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    border-width: 0px;
}

.messagerie{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 15%;
    display: flex;
    
}

.messages-list{
    list-style: none;
}

.sender{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    font-size: 20px;
    
}

.message-content{
    text-align: justify;
    text-justify: inter-word;
    margin-left: 2%;
    margin-right: 2%;
    
}

.messages{
    width: 100%;
}
.message-details{
    width: 30%;
    background-color: aqua;
}
