.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 5vh;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-line{
    background-color: #2d3142;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    height: 5px;
    border-radius: 45rem;
}
.nav-icon{
    color: #2d3142;
    font-size: 5vh;
    padding-right:10pt;
    
    
}

.nav-icons {
    
    justify-content: space-between;
    display:flex;
    text-align: right;
    margin-right: 5%;
    
}

.nav-btn{
  background-color:transparent ;
  border: none; 
  color: transparent; 
  cursor: pointer;
}



.resp {
    width: 100%;
    height: auto;
}

.nav-element {
    
    width: 50%;
    
    
}

.logo{
    float : left ;
    height : 5vh;
    width: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10vh;
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: #050d2d;
    padding: 2vh 2vh ;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(222, 255, 243);
    font-weight: bold;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    float: right;
    
}

.navbar {
  overflow: hidden;
}
  
@media only screen and ( max-width:400px ){
  
}
  