* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbarlogin {
    width: 100%;
    position: fixed;
    top:0px;
    left:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #2D3142;

}

.navbarlogin .nav_Logo 
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: smaller;
    font-style: italic;
    color: #edf0f1;
    text-decoration: none;
}

.navlist_Grid a,
.nav_linkAdmin,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: smaller;
  color: #edf0f1;
  text-decoration: none;
}

.navlist_Grid {
    list-style: none;
    display: flex;
}


.navlist_Grid li {
    padding: 0px 20px;
}


.navlist_Grid li a {
    transition: color 0.3s ease 0s;
}

.navlist_Grid li a:hover {
    color: #67F2A1;
}

.navlist_Grid .nav_linkAdmin{
    padding: 9px 25px;
    background-color: #67F2A1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.navlist_Grid .nav_linkAdmin:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

